/*=S common */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,label,textarea,p,blockquote,th,td {margin:0;padding:0;}
body {border-top:5px solid #CC342C;background:url("/images/bg.jpg");-webkit-text-size-adjust:none;}
body,textarea {font:400 12px/1.5 "Microsoft Yahei",Simsun,Arial;color:#333;}
a,a:visited {text-decoration:none;color:#333;cursor:pointer;}
a:hover {text-decoration:underline;color:#CC342C;}
em,i {font-style:normal;}
h1,h2,h3,h4,h5,h6,strong {font-weight:700;font-size:100%;}
label, input, select {vertical-align:middle;}
img, button {background:none;border:0 none;vertical-align:middle;}
ol,ul {list-style:none;}
table,th,td,fieldset,legend {font-weight:400;border:0 none;border-collapse:collapse}

.txt {padding:3px;border:1px solid #DDD;}
.txt:hover {border-color:#CC342C;}
.pipe {padding:0 5px;font-style:normal;color:#888;}
.iblock {display:inline-block;*display:inline;zoom:1;vertical-align:middle;}
/*=E common */


/*=S HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]) {display:none;}
[hidden] {display:none;}
/*=E HTML5 */

/*=S layout */
#row {margin:0 auto;width:980px;overflow:hidden;}
    #header {margin:100px 0;overflow:hidden;}
    #footer {padding:20px 0;background:url("/images/full-line.png") repeat-x;}
    #content {overflow:hidden;_zoom:1;}
        #posts {float:left;width:690px;}
        #aside {float:right;margin-top:43px;width:240px;}
/*=S layout */

/*=S header */
#logo, #description {text-align:center;}
    #logo {font:50px/50px Georgia;text-shadow:2px 2px 0 #FFF;}
    #logo a {color:#CC342C;text-decoration:none;}
    #description {font:12px/1.5 Simsun;color:#888;}
/*=E header */

/*=S post */
.post-hd h1 {margin-bottom:10px;padding-bottom:5px;font:26px/1.5 "Microsoft Yahei",Georgia;text-shadow:1px 1px 0 #FFF;background:url("/images/dotted-line.png") no-repeat 0 43px;}
    .post-hd h1 a:hover {text-decoration:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;}
    .post-info {margin-bottom:10px;height:25px;overflow:hidden;_zoom:1;}
        .post-info p {float:left;font:12px/25px Georgia;color:#888;}
        .post-info .bdlikebutton {float:left;margin-left:15px;}
.post-bd {margin-bottom:20px;font-size:14px;line-height:28px;}
    .post-bd a, .post-bd a:visited {color:#CC342C;text-decoration:underline;}
    .post-bd a:hover {color:#333;}
    .post-bd img {margin:5px 0;border:5px solid #BBB;border-radius:3px;}
.post-ft {padding-top:30px;background:url("/images/star-line.png") no-repeat 50% 0;}
    .post-nav {margin-bottom:20px;padding-bottom:20px;font-size:14px;line-height:28px;border-bottom:1px dashed #B1B1A8;overflow:hidden;_zoom:1;}
        .post-nav .prev {float:left;}
        .post-nav .next {float:right;}
    .post-comment {margin-bottom:20px;}
/*=E post */

/*=S page */
.page {float:right;margin-bottom:50px;overflow:hidden;}
	.page a, .page span {text-decoration:none;float:left;margin-left:5px;padding:3px 8px;border:1px solid #DDD;background:#F7F7F7;border-radius:2px;}
	.page a:hover, .page .current {color:#FFF;border-color:#333;background:#333;background:-webkit-linear-gradient(#444, #333);background:-moz-linear-gradient(#444, #333);}
/*=E page */

/*=S links */
.links ul {margin-bottom:10px;overflow:hidden;_zoom:1;}
    .links li {float:left;width:230px;text-indent:15px;}
/*=E links */

/*=S widget */
.widget {padding:20px 0;border-top:dashed 1px #B1B1A8;}
	.widget h3 {margin-bottom:5px;font-size:14px;}
	.widget li {height:24px;line-height:24px;}
/*=E widget */

/*=S follow */
.follow li {float:left;margin:10px 15px 0 0;}
    .follow a {display:block;padding-top:16px;width:16px;height:0;background:url("/images/icon.png") no-repeat;overflow:hidden;}
    .follow .github {background-position:0 -16px;}
    .follow .weibo {background-position:0 -32px;}
    .follow .douban {background-position:0 -48px;}
    .follow .zhihu {background-position:0 -64px;}
/*=E follow */

/*=S Syntax Highlighting */
.post-bd pre {padding:5px 10px;border-radius:3px;background:#303030;overflow:auto;}
    .post-bd code {font-family:'Bitstream Vera Sans Mono','Courier New',monospace;}
        .str {color:#8F9D6A;}
        .kwd {color:#CDA869;}
        .com {color:#5F5A60;}
        .typ {color:#7587A6;}
        .lit {color:#CF6A4C;}
        .pun {color:#E8E8E8;}
        .tag {color:#E8E8E8;}
        .atn {color:#E8E8E8;}
        .atv {color:#8F9D6A;}
        .dec {color:#E8E8E8;}
        .pln {color:#E8E8E8;}
/*=E Syntax Highlighting */

/*=S Media Query */
@media only screen and (min-width:768px) and (max-width:959px) {
    #row, #aside {width:690px;}
    #aside {margin-top:0;}
        .widget {float:left;width:220px;}
        .widget:nth-child(2) {margin:0 15px;}
}
/*=E Media Query */